<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netho.yunpolice.dao.INewsDao" >
    <resultMap id="BaseResultMap" type="com.netho.yunpolice.pojo.News" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="source" property="source" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="imgs" property="imgs" jdbcType="VARCHAR" />
        <result column="times" property="times" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
        <result column="top" property="top" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, title, author, source, content, imgs, times, category, top
    </sql>

    <select id="getList" parameterType="HashMap" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM news ORDER BY  #{sortname,jdbcType=VARCHAR}  #{sortorder,jdbcType=VARCHAR} LIMIT #{page,jdbcType=INTEGER}, #{pagesize,jdbcType=INTEGER};
    </select>

    <select id="totalList" resultType="Integer">
        SELECT count(id) FROM news;
    </select>

    <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM news WHERE id = #{id,jdbcType=INTEGER};
    </select>

    <delete id="del" parameterType="java.lang.Integer">
        DELETE FROM news
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="save" parameterType="com.netho.yunpolice.pojo.News">
        insert into news (title, author, source, content, imgs, times, category, top)
        values (#{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{imgs,jdbcType=VARCHAR}, #{times,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{top,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="com.netho.yunpolice.pojo.News" >
        UPDATE news
        <set >
            <if test="title != null" >
              title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="author != null" >
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="source != null" >
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="imgs != null" >
                imgs = #{imgs,jdbcType=VARCHAR},
            </if>
            <if test="category != null" >
                category = #{category,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="applyTop">
        UPDATE news
        <set >
            top = 1,
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="cancelTop">
        UPDATE news
        <set >
            top = 0,
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="applyTotalTop" resultType="Integer">
        SELECT count(id)
        FROM news WHERE top = 1;
    </select>

    <select id="getListTop" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM news WHERE top = 1 ORDER BY  times DESC;
    </select>

</mapper>