<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yun.yunPolice.dao.INewsDao" >
    <resultMap id="BaseResultMap" type="com.yun.yunPolice.pojo.News" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="source" property="source" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="imgs" property="imgs" jdbcType="DATE" />
        <result column="times" property="times"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, title, author, source, content, imgs, times
    </sql>

    <select id="getList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM news ORDER BY times DESC limit #{page,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER};
    </select>

    <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM news WHERE id = #{id,jdbcType=INTEGER};
    </select>

    <delete id="del" parameterType="java.lang.Integer">
        DELETE FROM news
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.yun.yunPolice.pojo.News" >
        UPDATE news
        <set >
            <if test="title != null" >
              title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="author != null" >
                title = #{author,jdbcType=VARCHAR},
            </if>
            <if test="source != null" >
                title = #{source,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                title = #{content,jdbcType=VARCHAR},
            </if>
            <if test="imgs != null" >
                title = #{imgs,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>