[genuitec-file-id="wc1-10"],[genuitec-lp-path="/weChat/WebRoot/sea-modules/dropload/dropload.css"],[genuitec-lp-enabled=true]{
  /* for codelive */
}

.dropload-up,
.dropload-down {
  position: relative;
  height: 0;
  overflow: hidden;
  font-size: 12px;
  /* 开启硬件加速 */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.dropload-down {
  height: 50px;
}

.dropload-refresh,
.dropload-update,
.dropload-load,
.dropload-noData {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.dropload-load .loading {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 6px;
  border: 2px solid #666;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-animation: rotate 0.75s linear infinite;
  animation: rotate 0.75s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*特效动画 by xsiry */

.x_act {
  position: relative;
  -webkit-animation-name: top_act, opacity_act;
  /*动画名称*/
  -webkit-animation-duration: 0.5s;
  /*动画持续时间*/
  -webkit-animation-iteration-count: 1;
  /*动画次数*/
  -webkit-animation-delay: 0s;
  /*延迟时间*/
}


/*向上移动特效*/

@-webkit-keyframes top_act {
  0% {
    top: 5rem;
  }
  100% {
    top: 0rem;
  }
}

@-moz-keyframes top_act {
  0% {
    top: 5rem;
  }
  100% {
    top: 0rem;
  }
}


/*淡入特效*/

@-webkit-keyframes opacity_act {
  0% {
    opacity: 0;
    /*初始状态 透明度为0*/
  }
  40% {
    opacity: 0.4;
    /*初始状态 透明度为0*/
  }
  60% {
    opacity: 0.6;
    /*初始状态 透明度为0*/
  }
  100% {
    opacity: 1;
    /*结尾状态 透明度为1*/
  }
}
